.phone {
    float:left;
    margin:40px
}
.phone img {
    height:250px;
    width:auto;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;

}
.phone-name {
    text-align: center;
    font-size:15px;
    margin-top:5px;
    color:black;
}
.phone a {
    text-decoration: none
}
.phone:hover, .phoneName:hover {
    opacity: 0.9
}

#slider {
    left:100px;
    width:1100px;
    height:330px;
    overflow:hidden;
    position:absolute
}
#prev,#next{
    position: absolute;
    z-index: 900;
    display: block;
    top: 36%;
    height:50px;
    width:auto;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
#next {
    top:110px;
    left:1000px;
}
#prev:active,#next:active{
    opacity: 0.6
}
.container {
    position:relative;
    width:1200px;
    height:330px;
    background-color:white;
    border-radius:10px;    
}
body {
    background-color: #ededed;
}
.details-img {
    height:350px;
    width:auto;
}
.details-head {
    height:40px;
    border: 1px solid;
    width:400px;
    background-color: #f5f5f5;
    border-color: #dddddd;
    font-weight: bold
}
#details-img-div {
    width:400px;
    height:400px;
    border: 1px solid;
    border-color: #dddddd;
    border-bottom: 0px;
}

.panel {
    width:400px;
}
.selected-phone-name {
    width:400px;
    text-align:center;
}
