  <ul class="nav nav-pills nav-stacked" role="tablist">

<li class="active"><a href="#">Back </a></li>
    <div id="detailsImgDiv">
      <img src="{{selectedPhone.image}}" class="detailsImg">
      </div>


    <div class="panel panel-default" class="details">
  <div class="panel-heading">
    <h3 class="panel-title">Specifications:</h3>
  </div>
  <div class="panel-body">
    <ul><li>Back camera: {{selectedPhone.back_camera}}</li>
        <li>Battery: {{selectedPhone.battery}}</li>
        <li>Battery removable: {{selectedPhone.battery_removable}}</li>
        <li>CPU: {{selectedPhone.cpu}}</li>
        <li>GPU: {{selectedPhone.gpu}}</li>
        <li>Memory: {{selectedPhone.internal_memory}}</li>
        <li>Ram: {{selectedPhone.ram}}</li>
        <li>LTE: {{selectedPhone.lte}}</li>
        <li>Price: {{selectedPhone.price.split(" ")[0] | currency:"€"}}</li>
    </ul>
  </div>
    <style type="text/css">
        body {
            background: white
        }
        </style>